<form name="providerConfig" novalidate val-form-manager ng-controller="translateProviderConfigController as vm">
        <umb-editor-view>
            <umb-editor-header name="vm.page.title"
                             name-locked="true"
                             hide-icon="true"
                             hide-alias="true"
                             description="vm.page.description"
                             description-locked="true">
            </umb-editor-header>
            <umb-editor-container>

                <div ng-if="vm.hasView">
                    <div ng-include="vm.provider.Views.Config"></div>
                </div>

                <umb-empty-state position="center" ng-if="!vm.hasView">
                    <h5>No Config</h5>
                    <p>
                        This provider has no configuration page
                    </p>
                </umb-empty-state>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="action"
                                label-key="buttons_save"
                                state="vm.buttonState"
                                action="vm.save()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
</form>