<div ng-controller="translate.setsDashboardController as vm">
    <umb-editor-view>
        <umb-editor-header name="'Translation Sets'"
                           name-locked="true"
                           hide-icon="true"
                           hide-alias="true"
                           description="'manage'"
                           description-locked="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
            <div class="tm-lang-boxes" ng-if="!vm.loading">
                <div class="tm-lang-box" ng-repeat="set in vm.sets">
                    <umb-box class="tm-set-box">
                        <umb-box-header title="{{set.Name}}" description="{{set.Culture.DisplayName}}"></umb-box-header>
                        <umb-box-content>
                            <h4>Languages</h4>
                            <ul class="unstyled">
                                <li ng-repeat="site in set.Sites">
                                    <i class="icon icon-flag-alt color-grey"></i> {{site.Culture.DisplayName}}
                                </li>
                            </ul>
                        </umb-box-content>
                        <div class="tm-box-footer">
                            <umb-button action="vm.viewSet(set.Id)"
                                        type="button"
                                        button-style="success"
                                        state="vm.buttonState"
                                        label="Edit">
                            </umb-button>
                        </div>
                    </umb-box>
                </div>
                <div class="tm-lang-box">
                    <umb-box class="tm-set-box">
                        <umb-box-header title="create a set"
                                        description="create a new set">
                        </umb-box-header>
                        <umb-box-content>
                            Create a new translation set
                        </umb-box-content>
                        <div class="tm-box-footer">
                            <umb-button action="vm.viewSet(-1)"
                                        type="button"
                                        button-style="action"
                                        state="vm.buttonState"
                                        label="Create">
                            </umb-button>
                        </div>
                    </umb-box>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>
