<?xml version="1.0" encoding="utf-8" ?>
<translations
  scheduleCheckPeriod="600"
  backgroundCheck="True"
  autoTranslate="True"
  history="False"
  includeEmpty="False"
  batchSize="5">
  <!-- 
    scheduleCheckPeriod = how often do you want to check for jobs from providers
    backgroundCheck = perform the checks in the background
    autoTranslate = create items in pending when content is saved
    history = show the translation status context item
    includeEmpty = include nodes that don't have text to translate in jobs (for links)
    batchSize = how many nodes in each batch sent to the server (smaller prevents timeouts)
  -->

  <config>

    <!-- update links on target sites when content is approved -->
    <links>
      <pickers>True</pickers>
      <inline>True</inline>
    </links>
  </config>

  <providers>
    <!-- 
      Any settings for the providers can be loaded here
    
      Settings are loaded at startup, you will need to restart umbraco 
      (i.e. touch the web.config) to get settings from the file loaded   
      
      some providers may let you configure these settings in the back office
      but they will need write permissions to this file for that to work. 
    -->

    <!-- defaults for xliff -->
    <provider name="xliffFile">
      <add key="extension" value="xlf" />
      <add key="split" value="true" />
      <add key="folder" value="/media/xliff_translations" />
      <add key="format" value="xliff.2.0" />
    </provider>

  </providers>
</translations>