<div ng-controller="translateItemViewController as vm">
    <umb-editor-view>
        <umb-editor-header name="vm.page.title"
                           description="vm.page.description"
                           name-locked="true"
                           hide-icon="true"
                           hide-alias="true"
                           description-locked="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
            <div ng-if="!vm.loading">
                <umb-box>
                    <umb-box-content>
                        <div class="flex justify-between">
                            <div class="w-50 flex justify-between translate-item-info-box">
                                <div>
                                    <strong><localize key="translate_source">Source</localize></strong> {{vm.item.MasterNodeName}}
                                    <div><small>{{vm.item.MasterNodePath}}</small></div>
                                </div>
                                <div ng-if="vm.item.IsDictionary !== true">
                                    <button ng-click="vm.editContent(vm.item.MasterNodeId)" target="_blank" title="Edit" class="btn btn-default">
                                        <i class="icon-edit muted"></i>
                                        <localize key="general_edit">edit</localize>
                                    </button>
                                    <a href="/{{vm.item.MasterNodeId}}" target="_blank" title="View" class="btn btn-default">
                                        <i class="icon-layout muted"></i>
                                        <localize key="general_view">view</localize>
                                    </a>
                                </div>
                            </div>
                            <div class="w-50 flex justify-between">
                                <div>
                                    <strong>Target</strong> {{vm.item.TargetNodeName}}
                                    <div><small>{{vm.item.TargetNodePath}}</small></div>
                                </div>
                                <div ng-if="vm.item.IsDictionary !== true">
                                    <button ng-click="vm.editContent(vm.item.TargetNodeId, vm.item.Culture.Name)" target="_blank" title="Edit" class="btn btn-default">
                                        <i class="icon-edit muted"></i>
                                        <localize key="general_edit">edit</localize>
                                    </button>
                                    <a href="/{{vm.item.TargetNodeId}}" target="_blank" title="View" class="btn btn-default">
                                        <i class="icon-layout muted"></i>
                                        <localize key="general_view">view</localize>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>
                <umb-box>
                    <umb-box-content>
                        <div class="flex justify-between">
                            <div class="translate-status-box node-status-{{vm.item.Status}}">
                                <strong><localize key="translate_status">Status</localize></strong>
                                {{vm.item.Status}}
                            </div>

                            <div>
                                <strong><localize key="content_createDate">Created</localize></strong>
                                {{vm.item.Created | date: 'medium'}}
                            </div>
                            <div>
                                <strong><localize key="translate_updated">Updated</localize></strong>
                                {{vm.item.Updated | date: 'medium'}}
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>

                <umb-box>
                    <umb-box-content>
                        <div ng-if="vm.item.Groups.length > 0">
                            <ul class="translate-item-tabs umb-tabs">
                                <li ng-repeat="(key, group) in vm.item.Groups"
                                    class="umb-tab"
                                    ng-class="{'umb-tab--active': key == vm.activeTab}">
                                    <a ng-click="vm.activeTab = key"
                                       class="nav-link"
                                       data-toggle="tab">{{group.DisplayName}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div ng-repeat="(key, group) in vm.item.Groups"
                                 ng-class="{'show active': key == vm.activeTab}"
                                 id="tab_{{group.Name}}"
                                 class="tab-pane">

                                <div class="flex justify-between">
                                    <div class="w-50">
                                        <h4>
                                            <localize key="translate_source"></localize>
                                        </h4>
                                    </div>
                                    <div class="w-50">
                                        <h4>
                                            <localize key="translate_target"></localize>
                                        </h4>
                                    </div>
                                </div>

                                <div ng-repeat="property in group.Properties"
                                     class="flex justify-between">

                                    <div class="w-50">
                                        <translate-value-view value="property.Source"></translate-value-view>
                                    </div>

                                    <div class="w-50">
                                        <translate-value-view value="property.Target"
                                                              editable="vm.canEdit"
                                                              is-target="true"
                                                              parent-property="property"
                                                              on-save="vm.saveProperty(property)"
                                                              on-remove="vm.removeProperty(property)"
                                                              is-top="true">
                                        </translate-value-view>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>
            </div>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <button class="btn btn-link" ng-click="vm.close()">
                    <localize key="general_close">close</localize>
                </button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>