<div class="job-options-view">
    <umb-box>
        <umb-box-header title="Job Options"
                        description="{{vm.job.provider.Name}}"></umb-box-header>
        <umb-box-content>
            <div class="umb-el-wrap">
                <label for="jobname" class="control-label">Job Name:</label>
                <div class="controls">
                    <div class="umb-property-editor db">
                        <input type="text" name="jobname" ng-model="vm.job.name"
                               class="umb-textstring" />
                    </div>
                </div>
            </div>

            <div ng-hide="vm.singleProvider == true">
                <div class="umb-el-wrap">
                    <label for="provider" class="control-label">
                        <localize key="translate_provider">Provider</localize>
                    </label>
                    <div class="controls">
                        <div class="umb-property-editor db">
                            <select class="umb-dropdown"
                                    name="provider"
                                    ng-model="vm.job.provider"
                                    ng-options="i as i.Name for i in vm.providers"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="vm.singleProvider == true">
                using {{vm.provider.Name}} provider
            </div>
        </umb-box-content>
    </umb-box>

    <div ng-if="vm.job.provider !== undefined">
        <translate-provider-view job="vm.job" 
                                 provider-key="vm.job.provider.Key"
                                 status="vm.job.status">
        </translate-provider-view>
    </div>

</div>

