<div ng-controller="tranlateSettings.DiagnosticsController as vm">
    <umb-box>
        <umb-box-content>
            <h2>
                Translation Manager <span class="muted">v{{vm.info.CoreVersion}}</span>
                <span ng-if="vm.uptodate" class="text-success">
                    <i class="icon icon-check"></i> Latest Version
                </span>
            </h2>

            <div ng-if="!vm.uptodate" class="alert-warning alert">A newer version {{vm.update.Version}} is avalible at <a href="{{vm.update.Link}}" target="_blank">{{vm.update.Link}}</a></div>

            <div ng-if="vm.update.Message != ''" class="alert alert-info">{{vm.update.Message}}</div>
        </umb-box-content>
    </umb-box>

    <umb-box>
        <umb-box-header title="Connectors"></umb-box-header>
        <umb-box-content>
            <ul>
                <li ng-repeat="provider in vm.info.Providers">
                    {{provider.Name}} <em>{{provider.Alias}} [{{provider.Enabled}}]</em>
                </li>
            </ul>
        </umb-box-content>
    </umb-box>

    <umb-box>
        <umb-box-header title="Mappers"></umb-box-header>
        <umb-box-content>
            <ul>
                <li ng-repeat="mapper in vm.info.Mappers">
                    <strong>{{mapper.Name}}</strong> ({{mapper.Editors}})
                </li>
            </ul>
        </umb-box-content>
    </umb-box>
</div>