<div>
    <umb-box>
        <umb-box-header title="Licence"></umb-box-header>
        <umb-box-content>
            <p>
                A Licence will allow you to create multiple sets, and multiple translation
                languages.
            </p>
            <p>
                <small>
                    Developers : If you are running from localhost then everything will work, but to use
                    on a live site you will need a licence to translate more than
                    one language.
                </small>
            </p>
            <p ng-if="!model.IsValidLicence()">
                <a href="http://jumoo.co.uk/tp/v8/licence/" target="_blank" class="btn btn-primary">purchase a licence</a>
            </p>
        </umb-box-content>
    </umb-box>

    <umb-box>
        <umb-box-header title="Licence details"></umb-box-header>
        <umb-box-content>
            <umb-control-group label="Licenced domains"
                               description="domains licenced to">
                <input type="text" class="umb-textstring umb-property-editor"
                       ng-model="model.settings.Licence.Domains" />
            </umb-control-group>

            <umb-control-group label="Licence Key"
                               description="Key for licence">
                <input type="text" class="umb-textstring umb-property-editor"
                       ng-model="model.settings.Licence.Key" />
            </umb-control-group>
        </umb-box-content>
    </umb-box>
    <div ng-if="model.settings.Licence.Key.length > 0 && model.settings.Licence.Domains.length > 0">
        <umb-box ng-show="model.settings.Licence.Valid && !model.settings.Licence.Licenced">
            <umb-box-content>
                <p>
                    <strong>You licence is valid, but it is not for the current domain</strong>
                </p>
                <p>
                    Your licence will work for the specified domain and subdomains
                    <em>(e.g. example.com, other.example.com)</em> but it will not work for
                    other domains with the same ending <em>(e.g. myexample.com)</em>
                </p>
                <p>
                    If you need translations for another site then you will need to <a href="http://jumoo.co.uk/tp/v8/licence/">
                        purchase a new domain licence
                    </a> for that site.
                </p>
            </umb-box-content>
        </umb-box>

        <umb-box ng-if="model.settings.Licence.Valid">
            <umb-box-content>
                <i class="icon icon-check green"></i> Your licence is valid
            </umb-box-content>
        </umb-box>

        <umb-box ng-show="!model.isValidLicence()"
                 class="tm-box-alert-warning">
            <umb-box-content>
                Your licence information is not valid
            </umb-box-content>
        </umb-box>

        <umb-box ng-show="!model.settings.Licence.Valid && model.settings.Licence.Licenced"
                 class="tm-box-alert-info">
            <umb-box-content>
                <p>
                    Your instance of Translation Manager is running in localhost mode, with no restrictions.
                </p>
                <p>
                    If you move to a domain without a licence you will be limited to one set, and one target language
                </p>
            </umb-box-content>
        </umb-box>
    </div>
</div>