<umb-box>
    <umb-box-header title="Notifications"
                    description="Control who gets emails when things happen to translations"></umb-box-header>
    <umb-box-content>
        <umb-control-group label="Inherit"
                           description="Use global settings for notifications">

            <umb-toggle checked="model.notify.Inherit"
                        on-click="model.notify.Inherit = !model.notify.Inherit"></umb-toggle>

        </umb-control-group>


        <umb-control-group label="Pending Notifications"
                           description="Email addresses to notify">
            <input type="text" class="umb-textstring umb-property-editor"
                   ng-model="model.notify.Pending"
                   ng-disabled="model.notify.Inherit" />
        </umb-control-group>
        <umb-control-group label="Submitted Notifications"
                           description="Email addresses to notify">
            <input type="text" class="umb-textstring umb-property-editor"
                   ng-model="model.notify.Submitted"
                   ng-disabled="model.notify.Inherit" />
        </umb-control-group>
        <umb-control-group label="Received Notifications"
                           description="Email addresses to notify">
            <input type="text" class="umb-textstring umb-property-editor"
                   ng-model="model.notify.Received"
                   ng-disabled="model.notify.Inherit" />
        </umb-control-group>

        <umb-control-group label="Notify Creator"
                           description="Send notifcation to creator of job when it's received">

            <umb-toggle checked="model.notify.NotifyCreator"
                        on-click="model.notify.NotifyCreator = !model.notify.NotifyCreator"
                        disabled="model.notify.Inherit === true" >
            </umb-toggle>

        </umb-control-group>


        <umb-control-group label="Approved Notifications"
                           description="Email addresses to notify">
            <input type="text" class="umb-textstring umb-property-editor"
                   ng-model="model.notify.Approved"
                   ng-disabled="model.notify.Inherit" />
        </umb-control-group>



    </umb-box-content>


</umb-box> 