<div>
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <div ng-if="!vm.loading">
        <div ng-if="vm.results.items.length > 0">

            <div class="umb-table translate-table">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell">
                            <i class="umb-table-body__icon umb-table-body__fileicon icon-document"></i>
                        </div>

                        <div class="umb-table-cell umb-table__name"><localize key="general_name">Name</localize></div>
                        <div class="umb-table-cell"><localize key="translate_source">Source</localize></div>
                        <div class="umb-table-cell lang-cell"><localize key="translate_target">Target</localize></div>
                        <div class="umb-table-cell"><localize key="translate_provider">Provider</localize></div>
                        <div class="umb-table-cell nodes-cell"><localize key="translate_nodes">Nodes</localize></div>
                        <div class="umb-table-cell lang-cell"><localize key="translate_status">Status</localize></div>
                        <div class="umb-table-cell"><localize key="general_date">Date</localize></div>
                    </div>
                </div>
                <div class="umb-table-body">
                    <div ng-repeat="job in vm.results.items" class="umb-table-row job-status-{{job.Status}} translate-job-row"
                         ng-class="{'-selected':item.selected}"
                         ng-click="vm.viewJob(job.Id)">
                        <div class="umb-table-cell" ng-switch="job.Status">
                            <i ng-switch-when="Error" class="umb-table-body__icon umb-table-body__fileicon icon-wrong color-red" title="error with job"></i>
                            <i ng-switch-when="Closed" class="umb-table-body__icon umb-table-body__fileicon icon-checkbox-dotted" title="job closed"></i>
                            <i ng-switch-when="Accepted" class="umb-table-body__icon umb-table-body__fileicon icon-checkbox color-green" title="job accepted"></i>
                            <i ng-switch-when="Submitted" class="umb-table-body__icon umb-table-body__fileicon icon-axis-rotation color-orange" title="waiting for translation"></i>
                            <i ng-switch-when="Partial" class="umb-table-body__icon umb-table-body__fileicon icon-document-dashed-line" title="partial translation return"></i>
                            <i ng-switch-default class="umb-table-body__icon umb-table-body__fileicon icon-document"></i>
                        </div>

                        <div class="umb-table-cell umb-table__name">{{job.Name}}</div>
                        <div class="umb-table-cell">{{job.SourceCulture.DisplayName}}</div>
                        <div class="umb-table-cell lang-cell">{{job.TargetCulture.DisplayName}}</div>
                        <div class="umb-table-cell">{{job.ProviderName}}</div>
                        <div class="umb-table-cell nodes-cell">{{job.NodeCount}}</div>
                        <div class="umb-table-cell lang-cell"><div class="tm-status-pill translate-job-{{job.Status}}">{{job.Status}}</div></div>
                        <div class="umb-table-cell">
                            <div ng-switch="job.Status">
                                <div ng-switch-when="Submitted">
                                    {{job.Submitted | date: 'medium' }}
                                </div>
                                <div ng-switch-when="Received">
                                    {{job.Received | date: 'medium' }}
                                </div>
                                <div ng-switch-default>
                                    {{job.Created | date: 'medium' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-between">
                <div></div>
                <umb-pagination page-number="vm.results.pageNumber"
                                total-pages="vm.results.totalPages"
                                on-next="vm.next"
                                on-prev="vm.prev"
                                on-go-to-page="vm.gotoPage">
                </umb-pagination>

                <div style="margin: 20px 0;">
                    <div ng-if="vm.hideUserToggle != true">
                        <umb-toggle checked="vm.userView"
                                    on-click="vm.toggleUser()"
                                    show-labels="true"
                                    label-on="My Jobs"
                                    label-off="All Jobs"
                                    label-position="right"></umb-toggle>
                    </div>
                </div>

            </div>


        </div>
        <umb-empty-state ng-if="!vm.results || vm.results.items.length == 0">
            <h5>No Jobs</h5>
            <p ng-if="vm.userView == false">
                There are no jobs for this language / node.
            </p>
            <div ng-if="vm.userView == true">
                <p >
                    You have no jobs for this language / node.
                </p>
                <div style="margin: 20px 0;">
                        <umb-button action="vm.toggleUser()"
                                    type="button"
                                    button-style="action"
                                    label="View All Jobs"></umb-button>
                </div>
            </div>

        </umb-empty-state>
    </div>
</div>
