<div class="block-form">
    <div ng-repeat="set in vm.sets" class="tm-item-set">
        <div class="tm-item-set-info">

            <umb-control-group label="{{set.Name}}">
                {{set.Culture.DisplayName}}
            </umb-control-group>

            <umb-control-group label="languages">
                <span ng-repeat="site in set.Sites">
                    {{site.Culture.DisplayName}}
                </span>
            </umb-control-group>

            <div class="tm-item-set-action">
                <button ng-click="vm.viewSet(set.Id, $event)"
                        class="btn btn-small btn-default"
                        ng-if="vm.canEdit">
                    View set
                </button>
            </div>
        </div>
    </div>
</div>