<div>
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <div ng-if="!vm.loading">
        <div ng-if="vm.results.totalItems > 0">

            <!-- selectable items -->
            <umb-box-content>
                <div class="item-select-count flex justify-between " ng-if="vm.selectable">
                    <div class="item-select-count-display">
                        <strong>{{vm.selectedItems.length}}</strong> selected
                    </div>

                    <div class="item-select-buttons">
                        <umb-button action="vm.selectEvery()"
                                    type="button"
                                    button-style="info"
                                    state="vm.buttonState"
                                    label-key="translate_selectAll"
                                    disabled="vm.buttonState == 'busy'">
                        </umb-button>
                        <umb-button action="vm.deselectAll()"
                                    type="button"
                                    button-style="danger"
                                    state="vm.buttonState"
                                    label-key="buttons_clearSelection"
                                    disabled="vm.buttonState == 'busy'"
                                    ng-if="vm.selectedItems.length > 0">
                        </umb-button>
                    </div>
                </div>
            </umb-box-content>
            <div class="umb-table translate-table">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell">
                            <input type="checkbox" ng-model="vm.allSelected" ng-click="vm.selectAll()" ng-show="vm.selectable" />
                        </div>
                        <div class="umb-table-cell" ng-if="vm.showSets && vm.setVisible"><localize key="translate_set">Set</localize></div>
                        <div class="umb-table-cell"><localize key="translate_content">Content</localize></div>
                        <div class="umb-table-cell umb-table__name"><localize key="translate_target">Target</localize></div>
                        <div class="umb-table-cell umb-table-cell-status"><localize key="translate_status">Status</localize></div>
                        <div class="umb-table-cell"><localize key="translate_updated">Updated</localize></div>
                        <div class="umb-table-cell"><localize key="translate_properties">Properties</localize></div>
                        <div class="umb-table-cell umb-table-cell-buttons"></div>
                    </div>
                </div>
                <div class="umb-table-body">
                    <div ng-repeat="item in vm.results.items"
                         class="umb-table-row node-state-{{item.active}}"
                         ng-class="{'-selected':item.selected, 'has-open-node': vm.hasOpenNode(item), 'not-selectable' : !item.selectable}"
                         ng-click="vm.defaultAction(item)">
                        <div class="umb-table-cell">
                            <div ng-if="item.active">
                                <input type="checkbox" ng-model="item.selected"
                                       ng-show="item.selectable && vm.selectable" />
                                <div ng-show="!item.selectable" ng-switch on="hasOpenNode(item)">
                                    <i ng-switch-when="true" class="translate-table-icon icon-axis-rotation color-orange color-yellow" title="Open nodes in translation"></i>
                                    <i ng-switch-default class="translate-table-icon icon-document-dashed-line color-black"></i>
                                </div>
                            </div>
                            <div ng-if="!item.active">
                                <i class="translate-table-icon icon-document turquoise"></i>
                            </div>
                        </div>

                        <div ng-if="vm.showSets && vm.setVisible" class="umb-table-cell">
                            {{vm.getSet(item.SetKey)}}
                        </div>

                        <div class="umb-table-cell">
                            <div class="item-node-name">
                                <div class="item-view-path">{{vm.showPath(item.MasterNodeId)}}</div>
                                {{item.MasterNodeName}}
                            </div>
                        </div>
                        <div class="umb-table-cell umb-table__name">
                            <span ng-show="vm.hasOpenNode(item)" title="There is one or more versions of this page in the translation process">
                                <i class="icon icon-alert-alt color-yellow open-node-item-warning"></i>
                            </span>
                            <div class="item-node-name">
                                <div class="item-view-path">{{vm.showPath(item.TargetNodeId)}}</div>
                                {{item.TargetNodeName}}
                            </div>
                        </div>
                        <div class="umb-table-cell umb-table-cell-status"><div class="tm-status-pill node-status-{{item.Status}}">{{item.Status}}</div></div>
                        <div class="umb-table-cell">{{item.Updated | date:'medium'}}</div>
                        <div class="umb-table-cell">
                            <ul class="unstyled">
                                <li ng-repeat="group in item.Groups | limitTo: 3">
                                    <strong>{{group.DisplayName}}</strong>
                                    <span ng-repeat="prop in group.Properties | limitTo: 2">
                                        {{prop.Alias}}
                                    </span>
                                    <span ng-if="group.Properties.length > 2">...</span>
                                </li>
                                <li ng-if="item.Groups.length > 3">
                                    <strong>.... {{item.Groups.length - 3}} more tabs</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="umb-table-cell umb-table-cell-buttons">
                            <div>
                                <button class="btn btn-success btn-small" ng-click="vm.viewItem(item, $event)">
                                    <localize key="general_view">View</localize>
                                </button>
                                <button class="btn btn-danger btn-small" ng-click="vm.removeItem(item, $event)" ng-show="vm.allowRemove">
                                    <localize key="general_remove">Remove</localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center" ng-if="vm.results.totalPages > 1">
                <umb-pagination page-number="vm.results.pageNumber"
                                total-pages="vm.results.totalPages"
                                on-next="vm.next"
                                on-prev="vm.prev"
                                on-go-to-page="vm.gotoPage">
                </umb-pagination>
            </div>

            <umb-box-content>
                <div class="flex justify-end" ng-if="vm.allowRemoveAll">
                    <umb-button action="vm.removeAll()"
                                type="button"
                                button-style="danger btn-small"
                                state="vm.removeState"
                                disabled="vm.buttonState == 'busy'"
                                label="Remove All">
                    </umb-button>
                </div>
            </umb-box-content>
        </div>

        <umb-empty-state ng-if="vm.results.items.length == 0">
            <umb-box>
                <umb-box-content>
                    <h5>No Items</h5>
                    <p>
                        there are currently no pending items for this language / node
                    </p>
                </umb-box-content>
            </umb-box>
        </umb-empty-state>

    </div>
</div>