<div ng-controller="translateContentAppController as vm">
    <div ng-if="!vm.loading">
        <div>
            <umb-box>
                <umb-box-header title-key="translate_translations">
                    <umb-button ng-if="vm.canSend"
                                action="vm.create()"
                                type="button"
                                button-style="default"
                                state="vm.buttonState"
                                label-key="translate_createNew"></umb-button>
                </umb-box-header>
            </umb-box>

            <div class="tm-umb-layout">
                <div class="tm-umb-box tm-umb-box-twothird">
                    <umb-box>
                        <umb-box-header title-key="translate_languages" description-key="translate_languagesDesc"></umb-box-header>
                        <translate-item-status-view node="vm.node"></translate-item-status-view>
                        <umb-box-content></umb-box-content>
                    </umb-box>
                </div>
                <div class="tm-umb-box tm-umb-box-third">
                    <umb-box>
                        <umb-box-header title-key="translate_sets"
                                        description-key="translate_setsDesc"></umb-box-header>
                        <umb-box-content>
                            <translate-item-set-view node-id="vm.nodeId"
                                                     can-edit="vm.hasSettings"></translate-item-set-view>
                        </umb-box-content>
                    </umb-box>

                    <umb-box>
                        <umb-box-header title-key="translate_stats"
                                        description-key="translate_statsDesc">
                        </umb-box-header>
                        <umb-box-content>
                            <translate-word-count content-id="vm.nodeId"></translate-word-count>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>
        </div>
    </div>
</div>
