<div ng-controller="translateCreateDialogController as vm"
     class="translate-dialog">
    <umb-editor-panel>
        <umb-editor-header name="vm.page.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <div ng-if="vm.loading">
                <umb-load-indicator></umb-load-indicator>
            </div>

            <div ng-if="!vm.loading">
                <div ng-if="vm.busy">
                    <!-- what happens while things happen -->
                    <div class="send-busy-msg">{{vm.update}}</div>
                    <umb-load-indicator></umb-load-indicator>
                    <div class="send-busy-status">
                        {{vm.progress.step}}
                        <umb-progress-bar percentage="{{vm.progress.done}}"></umb-progress-bar>
                    </div>
                </div>

                <div ng-if="!vm.busy">
                    <div ng-if="vm.step == 'error'">
                        <h3>
                            <localize key="translate_errorTitle" />
                        </h3>
                        <div class="status-message alert alert-danger">
                            {{vm.error.message}}
                        </div>
                        <div class="status-message-stack">
                            <pre>{{vm.error.stack}}</pre>
                        </div>
                    </div>

                    <!-- pick languages / basic options -->
                    <div ng-if="vm.step == 'pick'">
                        <umb-box>
                            <umb-box-header title-key="translate_languages"
                                            description-key="translate_languagesSelect"></umb-box-header>
                            <umb-box-content>
                                <translate-language-picker picked="vm.picked"
                                                           sets="vm.sets">
                                </translate-language-picker>
                            </umb-box-content>
                        </umb-box>
                        <umb-box ng-if="vm.picked.length > 0">
                            <umb-box-header title-key="translate_include"
                                            description-key="translate_includeDesc"></umb-box-header>
                            <umb-box-content>
                                <div class="translate-toggle-box">
                                    <umb-toggle checked="vm.unpublished"
                                                on-click="vm.toggleUnpublished()"
                                                show-labels="true"
                                                label-on="Use the lastest (saved) version"
                                                label-off="Use the last published version"
                                                label-position="right">
                                    </umb-toggle>
                                </div>
                                <div class="translate-toggle-box" ng-if="vm.hasChildren">
                                    <umb-toggle checked="vm.children"
                                                on-click="vm.toggleChildren()"
                                                show-labels="true"
                                                label-on="Include child pages"
                                                label-off="This page only"
                                                label-position="right">
                                    </umb-toggle>
                                </div>
                            </umb-box-content>
                        </umb-box>
                        <umb-box ng-if="vm.picked.length > 0">
                            <umb-box-header title-key="translate_jobOptions"
                                            description-key="translate_jobOptionsDesc"></umb-box-header>
                            <umb-box-content>
                                <div class="translate-toggle-box" ng-if="vm.canAutoSend()">
                                    <umb-toggle checked="vm.createNow"
                                                on-click="vm.toggleCreateNow()"
                                                show-labels="true"
                                                label-on="Create translation job now"
                                                label-off="Send to pending queue"
                                                label-position="right"></umb-toggle>
                                </div>
                                <div class="translate-toggle-box" ng-if="vm.canAutoApprove()">
                                    <umb-toggle checked="vm.autoApprove"
                                                on-click="vm.autoApprove = !vm.autoApprove"
                                                show-labels="true"
                                                label-on="Automatically approve"
                                                label-off="Manual approval of translations"
                                                label-position="right"></umb-toggle>
                                </div>
                            </umb-box-content>
                        </umb-box>
                    </div>

                    <!-- job options (if auto create) -->
                    <div ng-if="vm.step == 'job'">
                        <translate-job-options job="vm.job"
                                               provider-key="vm.providerKey"
                                               provider="vm.job.provider">
                        </translate-job-options>
                    </div>

                    <!-- complete -->
                    <div ng-if="vm.step == 'done'">
                        <umb-box>
                            <umb-box-header title="Complete"></umb-box-header>
                            <umb-box-content>
                                Created {{vm.nodes.length}} translation items in pending queue
                            </umb-box-content>
                            <umb-box-content>
                                <a ng-click="vm.viewPending()" href class="btn btn-success-outline">View Pending items</a>
                            </umb-box-content>
                        </umb-box>
                    </div>

                    <!-- complete (job version) -->
                    <div ng-if="vm.step == 'done-job'">
                        <umb-box ng-repeat="job in vm.jobs">
                            <umb-box-header title="{{job.Name}}"></umb-box-header>
                            <umb-box-content>
                                <div class="flex justify-between">
                                    <div>
                                        {{job.SourceCulture.DisplayName}} to
                                        {{job.TargetCulture.DisplayName}}
                                    </div>

                                    <div>
                                        {{job.Nodes.length}} Pages
                                    </div>
                                </div>
                                <div>
                                    <em>
                                        {{job.ProviderName}}
                                    </em>
                                </div>
                            </umb-box-content>
                            <umb-box-content class="tm-job-create-status">
                                <div ng-if="job.Status == 'Accepted'">
                                    The Job has been approved; translated content is waiting to be published.
                                </div>
                                <div ng-if="job.Status == 'Received'">
                                    The translations have been received and are awaiting approval.
                                </div>
                                <div ng-if="job.Status == 'Submitted'">
                                    The job has been submitted for translation.
                                </div>
                            </umb-box-content>
                            <umb-box-content class="tm-box-footer">
                                <button ng-click="vm.viewJob(job)" class="btn btn-info">View Job</button>
                            </umb-box-content>
                        </umb-box>
                    </div>
                </div>
            </div>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            action="vm.close()">
                </umb-button>


                <umb-button type="button"
                            button-style="action"
                            label-key="general_create"
                            action="vm.create(vm.site)"
                            ng-if="vm.step == 'pick'">
                </umb-button>

                <umb-button type="button"
                            button-style="action"
                            label-key="general_create"
                            action="vm.createNodesAndJob(vm.site)"
                            ng-if="vm.step == 'job'">
                </umb-button>

                <umb-button type="button"
                            button-style="action"
                            label-key="general_submit"
                            action="vm.send(vm.site)"
                            ng-if="vm.step == 'send'">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-panel>
</div>